*{
	margin: 0;
	padding: 0;
}


header {
	margin-bottom: 50px;
}

.form {
	padding: 40px;
}

.form * {
	margin-bottom: 40px;
}

input {
	width: 200px;
	height: 30px;
	display: block;
	vertical-align: center;
	border: 1px solid black;
	border-radius: 7px;
	padding-left: 5px;
}

button {
	color: white;
	background-color: black;
	width: 100px;
	height: 30px;
	border: 1px solid white;
	border-radius: 7px;
}

button:hover {
	transition: 400ms;
	background-color: white;
	border-color: black;
	color: black;
}

.single{
	background-color: black;
	padding-top: 50px;
	position: relative;
	height: 550px;
}



.single img {
	position: absolute;
	right: 500px;
	min-height: 500px;
	width: 340px;
}

.single h3{
	margin-left: 30px;
	vertical-align: center;
	display: inline;
	color: white;
}
